absl-py==0.13.0
aio-pika==6.8.0
aiofiles==0.7.0
aiohttp==3.7.4
aiormq==3.3.1
anyio==3.4.0
appdirs==1.4.4
APScheduler==3.7.0
argon2-cffi==21.1.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==21.2.0
audioread==2.1.9
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.1
BeatNet==0.0.9
bidict==0.21.3
black==21.7b0
bleach==4.1.0
blis==0.7.4
boto3==1.18.53
botocore==1.21.53
-e git+git@github.com:ColectivoTrifur/bucle.git@f8b1dd020eeb7486b34d6232ed43bf5a6fbd84cd#egg=bucle
CacheControl==0.12.10
cachetools==4.2.4
cachy==0.3.0
cairocffi==1.2.0
CairoSVG==2.5.2
catalogue==2.0.4
certifi==2021.5.30
cffi==1.14.6
chardet==3.0.4
charset-normalizer==2.0.4
cleo==0.8.1
click==7.1.2
clikit==0.6.2
cloudpickle==1.6.0
cocos2d==0.6.9
colorama==0.4.4
colorclass==2.2.0
coloredlogs==15.0.1
colorhash==1.0.3
crashtest==0.3.1
cryptography==3.4.8
cssselect2==0.4.1
cvzone==1.4.1
cycler==0.10.0
cymem==2.0.5
Cython==0.29.25
debugpy==1.5.1
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.4
distlib==0.3.4
dm-tree==0.1.6
dnspython==1.16.0
docopt==0.6.2
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.1.0/en_core_web_md-3.1.0-py3-none-any.whl
entrypoints==0.3
fbmessenger==6.0.0
filelock==3.4.0
Flask==2.0.3
Flask-Cors==3.0.10
future==0.18.2
gast==0.3.3
glfw==2.4.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googletrans==3.1.0a0
greenlet==1.1.2
grpcio==1.41.0
h11==0.9.0
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
hstspreload==2021.12.1
html5lib==1.1
httpcore==0.9.1
httplib2==0.19.1
httptools==0.3.0
httpx==0.13.3
humanfriendly==10.0
hyperframe==5.2.0
idna==2.10
imgui==1.4.1
iniconfig==1.1.1
ipykernel==6.5.1
ipython==7.25.0
ipython-genutils==0.2.0
itsdangerous==2.1.1
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
json5==0.9.6
jsonpickle==2.0.0
jsonschema==3.2.0
jupyter-client==7.1.0
jupyter-core==4.9.1
jupyter-server==1.12.0
jupyterlab==3.2.4
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
kafka-python==2.0.2
Keras-Preprocessing==1.1.2
keyring==21.8.0
kiwisolver==1.3.2
librosa==0.8.1
llvmlite==0.37.0
lockfile==0.12.2
madmom==0.16.1
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.3.4
matplotlib-inline==0.1.2
mattermostwrapper==2.2
mediapipe==0.8.7.2
mido==1.2.10
mistune==0.8.4
msgpack==1.0.3
multidict==5.2.0
multipledispatch==0.6.0
murmurhash==1.0.5
mypy-extensions==0.4.3
nbclassic==0.3.4
nbclient==0.5.9
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
nltk==3.6.2
notebook==6.4.6
numba==0.54.1
numpy==1.18.5
oauth2client==4.1.3
oauthlib==3.1.1
opencv-contrib-python==4.5.4.60
opencv-python==4.5.4.60
opt-einsum==3.3.0
packaging==20.9
pamqp==2.3.0
pandocfilters==1.5.0
parso==0.8.2
pastel==0.2.1
pathspec==0.9.0
pathy==0.6.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
pkginfo==1.8.2
platformdirs==2.4.0
pluggy==1.0.0
poetry==1.1.12
poetry-core==1.0.7
pooch==1.6.0
preshed==3.0.5
prometheus-client==0.12.0
prompt-toolkit==2.0.10
protobuf==3.18.0
psycopg2-binary==2.9.1
ptyprocess==0.7.0
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.8.2
pydot==1.4.2
pygame==2.1.0
pyglet==1.5.21
Pygments==2.9.0
PyJWT==2.1.0
pykwalify==1.8.0
pylev==1.4.0
pymongo==3.10.1
PyOpenGL==3.1.5
PyOpenGL-accelerate==3.1.5
pyparsing==2.4.7
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyraylib==1.0.1
pyrsistent==0.18.0
PySDL2==0.9.9
pyTelegramBotAPI==3.8.3
pytest==6.2.5
python-crfsuite==0.9.7
python-dateutil==2.8.2
python-engineio==4.2.1
python-mpv==0.5.2
python-osc==1.7.4
python-socketio==5.4.0
pytz==2021.3
pyzmq==22.3.0
questionary==1.9.0
rasa==2.8.7
rasa-sdk==2.8.2
redis==3.5.3
regex==2021.7.6
requests==2.26.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
resampy==0.2.2
rfc3986==1.5.0
rocketchat-API==1.16.0
rsa==4.7.2
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.6
s3transfer==0.5.0
sanic==20.9.1
Sanic-Cors==0.10.0.post3
sanic-jwt==1.6.0
Sanic-Plugins-Framework==0.9.5
scikit-learn==0.24.2
scipy==1.7.1
SecretStorage==3.3.1
Send2Trash==1.8.0
sentry-sdk==1.2.0
shellingham==1.4.0
shrdlu-blocks==0.0.6
six==1.16.0
sklearn-crfsuite==0.3.6
slackclient==2.9.3
smart-open==5.1.0
sniffio==1.2.0
SoundFile==0.10.3.post1
sourceinspect==0.0.4
spacy==3.1.1
spacy-legacy==3.0.8
SQLAlchemy==1.4.25
srsly==2.4.1
tabulate==0.8.9
taichi==0.8.11
taichi-glsl==0.0.11
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.3.4
tensorflow-addons==0.13.0
tensorflow-estimator==2.3.0
tensorflow-hub==0.12.0
tensorflow-probability==0.13.0
tensorflow-text==2.3.0
termcolor==1.1.0
terminado==0.12.1
terminaltables==3.1.0
testpath==0.5.0
thinc==8.0.8
threadpoolctl==3.0.0
tinycss2==1.1.0
toml==0.10.2
tomli==1.2.0
tomlkit==0.7.2
torch==1.10.2
tornado==6.1
tqdm==4.62.0
traitlets==5.0.5
twilio==6.50.1
typeguard==2.12.1
typer==0.3.2
typing-extensions==3.10.0.0
tzlocal==2.1
ujson==4.2.0
urllib3==1.26.6
uvloop==0.14.0
virtualenv==20.10.0
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
webexteamssdk==1.6
websocket-client==1.2.1
websockets==8.1
Werkzeug==2.0.1
wrapt==1.12.1
yarl==1.6.3
